/* line 6, ../../compass/sass/views/_home.scss */
* {
  color: black;
}

/* line 30, ../../compass/sass/styles.scss */
* {
  box-sizing: border-box;
}

/* line 33, ../../compass/sass/styles.scss */
html,
body {
  height: 100%;
  overflow: hidden;
}

/* line 38, ../../compass/sass/styles.scss */
.page {
  height: 100%;
  background-color: #584E4A;
}

/* line 42, ../../compass/sass/styles.scss */
.content {
  height: 200%;
  transform-origin: top left;
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  background-color: #f0f0f0;
}

/* line 51, ../../compass/sass/styles.scss */
.content_inner {
  height: 50%;
  overflow-y: auto;
  padding: 50px 20%;
}

/* basically all styling from now on */
/* line 61, ../../compass/sass/styles.scss */
.menu_toggle {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  cursor: pointer;
  width: 100px;
  height: 80px;
  background-color: #F37272;
  border-bottom-right-radius: 100%;
}
/* line 74, ../../compass/sass/styles.scss */
.menu_toggle:active i {
  opacity: 0.8;
}
/* line 78, ../../compass/sass/styles.scss */
.menu_toggle i {
  color: #f0f0f0;
}
/* line 81, ../../compass/sass/styles.scss */
.menu_toggle .menu_open,
.menu_toggle .menu_close {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -12px;
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
}
/* line 90, ../../compass/sass/styles.scss */
.menu_toggle .menu_open {
  transform-origin: -100px -100px;
}
/* line 93, ../../compass/sass/styles.scss */
.menu_toggle .menu_close {
  transform: rotate(20deg);
  transform-origin: -100px -160px;
}

/* line 98, ../../compass/sass/styles.scss */
.menu_items {
  position: fixed;
  bottom: 0;
  left: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 106, ../../compass/sass/styles.scss */
.menu_items li {
  height: 60px;
  margin-bottom: 30px;
  transform: translateX(-300px);
  transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
}
/* line 112, ../../compass/sass/styles.scss */
.menu_items li:nth-child(2) {
  margin-left: 40px;
}
/* line 115, ../../compass/sass/styles.scss */
.menu_items li:nth-child(3) {
  margin-left: 80px;
}
/* line 119, ../../compass/sass/styles.scss */
.menu_items a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #a4a4a4;
  transition: color .2s;
}
/* line 127, ../../compass/sass/styles.scss */
.menu_items a .icon {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  color: #f0f0f0;
}
/* line 133, ../../compass/sass/styles.scss */
.menu_items a .icon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  margin-left: -33px;
  margin-top: -32px;
  border-radius: 100%;
  border: 2px solid #f0f0f0;
  transition: border-color .2s;
}
/* line 149, ../../compass/sass/styles.scss */
.menu_items a:hover {
  color: #f0f0f0;
}
/* line 152, ../../compass/sass/styles.scss */
.menu_items a:hover .icon:after {
  border-color: #F37272;
}
/* line 158, ../../compass/sass/styles.scss */
.menu_items a:active .icon {
  color: #F37272;
}

/* Let's open up the menu */
/* line 167, ../../compass/sass/styles.scss */
.shazam {
  /*.content_inner {
    height: 100%;
  }*/
}
/* line 168, ../../compass/sass/styles.scss */
.shazam .content {
  transform: rotate(-30deg);
}
/* line 181, ../../compass/sass/styles.scss */
.shazam .menu_open {
  transform: rotate(-20deg);
}
/* line 184, ../../compass/sass/styles.scss */
.shazam .menu_close {
  transform: rotate(0);
}
/* line 189, ../../compass/sass/styles.scss */
.shazam .menu_items li {
  transform: translateX(0);
  transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* line 193, ../../compass/sass/styles.scss */
.shazam .menu_items li:nth-child(2) {
  transition-delay: .47s;
}
/* line 196, ../../compass/sass/styles.scss */
.shazam .menu_items li:nth-child(3) {
  transition-delay: .48s;
}

/* line 204, ../../compass/sass/styles.scss */
h1 {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

/* line 208, ../../compass/sass/styles.scss */
body {
  color: #584E4A;
}
